<section class="page-section" id="{{ site.data.sitetext[site.locale].games.section | default: " games" }}">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Loly - Block Puzzle Game</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            Block Puzzle Game - free game with both classic and advanced levels. Play and find out new goals and technics. Discovery new puzzle world.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="assets\img\games\candyblock1.jpg" alt="" height="320"/>
            <img src="assets\img\games\candyblock2.jpg" alt="" height="320"/>
            <img src="assets\img\games\candyblock3.jpg" alt="" height="320"/>
        </div>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Yan's Worlds</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            Yan's world is amazing platformer (side-scroller) game. Jump and run! Amazing adventures with many levels, enemies and big bosses to challenge skills of the player. Each level brings new experience.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="assets\img\games\yan1.jpg" alt="" height="500"/>
        </div>
    </div>
</div>
</section>